<div class="post mt-2 ml-5 mr-5">

    <div class="post-header">
        <img class="mediana float-left rounded-circle mr-2" src="assets/img/foto.jpg" alt="foto">
        <h6>Juan Cuesta</h6>
        <small>53 min</small>
    </div>

    <div class="post-header">
        <p>With supporting text below as a natural lead-in to additional content.</p>
    </div>

    <div class="post-header">
        <div class="float-left"><small>Reacciones</small></div>
        <div class="float-right"><small>61 comentarios 129 veces compartido</small></div><br>
    </div>

    <div class="acciones">
        <div><img class="reac" src="assets/img/like.png" alt="foto"></div>
        <div><img class="reac" src="assets/img/comment.png" alt="foto"></div>
        <div><img class="reac" src="assets/img/share.png" alt="foto"></div>
    </div>

</div>