<div class="container col-8">
    <div class="post-border mt-2 ml-5 mr-5">

        <div class="post-bottom-line post-header">
            <div class="post-header">
                <img class="mediana rounded-circle mr-2" src="assets/img/foto.jpg" alt="foto">
                <div class="vertical">
                    <h6>Juan Cuesta</h6>
                    <small>53 min</small>
                </div>
            </div>
            <div>
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        ...
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item" type="button">Editar publicación</button>
                        <button class="dropdown-item" type="button">Ocultar en la biografía</button>
                        <button (click)="deletePost(2)" class="dropdown-item" type="button">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="post-bottom-line">
            <p>{{ pub_texto }}</p>
        </div>

        <div class="post-bottom-line">
            <div class="float-left"><small>Reacciones</small></div>
            <div class="float-right"><small>61 comentarios 129 veces compartido</small></div><br>
        </div>

        <div class="acciones">
            <div><img class="reac" src="assets/img/like.png" alt="foto"></div>
            <div><img class="reac" src="assets/img/comment.png" alt="foto"></div>
            <div><img class="reac" src="assets/img/share.png" alt="foto"></div>
        </div>

    </div>
</div>