<div class="container-fluid" id={{pub_id}}>
    <div class="post-border">

        <div class="post-header">
            <div class="post-header">

                <ng-container *ngIf="userLogin.image_perfil; else fotoDefault">
                    <img [src]=getSantizeUrl(userLogin.image_perfil) class="rounded-circle mediana float-left mr-2">
                </ng-container>
                <ng-template #fotoDefault>
                    <ng-container *ngIf="userLogin.usuario_sexo == 'Hombre'; else fotoDefaultSexo">
                        <img src="../assets/img/user_pred.jfif" class="rounded-circle mediana float-left mr-2">
                    </ng-container>
                    <ng-template #fotoDefaultSexo>
                        <img src="../assets/img/user_pred_mujer.jpg" class="rounded-circle mediana float-left mr-2">
                    </ng-template>
                </ng-template>

                <div class="vertical">
                    <h6>{{userLogin.usuario_nombres}} {{userLogin.usuario_apellidos}}</h6>
                    <small>53 min</small>
                </div>
            </div>
            <div>
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        ...
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item" type="button">Editar publicación</button>
                        <button class="dropdown-item" type="button">Ocultar en la biografía</button>
                        <button (click)="deletePost()" class="dropdown-item" type="button">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="post-bottom-line pl-4">
            <p>{{ pub_texto }}</p>
        </div>

        <ng-container *ngIf="pub_pathMult" class="">
            <img [src]=getSantizeUrl(pub_pathMult) class="post-image">
        </ng-container>

        <div class="post-bottom-line p-2">
            <div class="float-left"><small>Reacciones</small></div>
            <div class="float-right"><small>61 comentarios 129 veces compartido</small></div><br>
        </div>

        <div class="acciones">
            <div><img class="reac" src="assets/img/like.png" alt="foto"></div>
            <div><img class="reac" src="assets/img/comment.png" alt="foto"></div>
            <div><img class="reac" src="assets/img/share.png" alt="foto"></div>
        </div>

    </div>
</div>