<div class="container col-8">
    <div class="create-post mt-5 ml-5 mr-5">
        <div class="line-bottom">
            <span>Crear publicación</span>
        </div>
        <div class="line-bottom">
            <div>
                <img class="rounded-circle mediana float-left mr-2" src="assets/img/foto.jpg">
            </div>
            <div>
                <textarea rows="2" cols="60" placeholder="¿Qué estás pensando, Juan?"></textarea>
            </div>
        </div>
        <div><button type="submit" class="btn btn-secondary col-12">Publicar</button></div>
    </div>
</div>
