/*Cuadro publicar*/
.create-post {
  border: 1px solid #dddddd;
  border-radius: 5px;
  background-color: white;
}

.line-bottom {
  border-bottom: 1px solid #dddddd;
  padding: 15px;
}

.post-header {
  background-color: rgba(0,0,0,.03);;
}

.post-body {
  display: flex;
  justify-content: flex-start;
}

/*Imagenes*/
img.mediana {
  width: 40px;
  height: 40px;
}

/*Textarea responsive*/
.comment-text-area {
  width: 100%;
  height: auto;
}

.textinput {
  width: 100%;
  min-height: 75px;
  outline: none;
  resize: none;
  border: none;
}

/*Ventana modal*/
.modali {
  position: absolute;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  width: 96.5%;
  height: 100vh;
}

.content-modal {
  width: 100%;
  max-width: 500px;
  position: fixed;
  left: 50%;
  background-color: #121212;
  z-index: 1000;
}

#modal {
  display: none;
}

#textarea-pub:focus {
  display: none;
}

