@import "~@fortawesome/fontawesome-free/css/all.css";

body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.contenedor {
    width: 100%;
    overflow: hidden;
    display: flex;
}

.subcontenedor {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.image-container {
    border: 1px solid lightgrey;
    width: 160px;
    padding: 15px;
    margin: 15px;
}

.subcontenedor .image-list .image-container img {
    width: 150px;
}

/* NAVBAR */
.navbar{
    background: #3b5998 !important;
    height: auto !important;
    padding: 0 !important;
    border-bottom: 1px solid #666;
}

.navbar a{
    color: #fff !important;
}

.btn-search{
    margin-left: -2em;
}

.input-search{
    width: 520px !important;
    margin-left: -0.5rem !important;
    height: 31px;
    font-weight: 350 !important;
    color: #333;
}

.settings-drop li a{
    color: #000 !important;
}

.nav-icons{
    color: #17223d !important;
}

.fb-logo{
    margin-top: -1px !important;
}

.nav-dp{
    width: 25px;
    border-radius: 50%;
}

.dp-name span{
    margin-left: 8px;
    font-weight: bold;
}

@media screen and (min-width: 200px) and (max-width: 780px){
    .input-search{
        width: 320px !important;
        margin-left: -0.5rem !important;
        height: 31px;
    }

    .nav-icons span {
        display: inline;
    }
}