<app-navbar></app-navbar>
<div style="margin-top: 44px;">
    <ng-container *ngIf="userLogin.image_portada; else portadaDefault">
        <div class="jumbotron">
            <img [src]=getSantizeUrl(userLogin.image_portada) class="jb-img">
            <div class="container-fluid">
                <div class="dp">
                    <ng-container *ngIf="userLogin.image_perfil; else fotoDefault">
                        <img [src]=getSantizeUrl(userLogin.image_perfil) class="dp-img">
                    </ng-container>
                    <ng-template #fotoDefault>
                        <ng-container *ngIf="userLogin.usuario_sexo == 'Hombre'; else fotoDefaultSexo">
                            <img src="../assets/img/user_pred.jfif" class="dp-img">
                        </ng-container>
                        <ng-template #fotoDefaultSexo>
                            <img src="../assets/img/user_pred_mujer.jpg" class="dp-img">
                        </ng-template>
                    </ng-template>
                    <label class="custom-file-upload portada-change">
                        <input type="file" (change)="onPortadaChange($event)" />
                        <i class="fas fa-camera" style="color: #B4BDBA;"></i>
                        <span class="tooltiptextPortada">Actualizar Portada</span>
                    </label>
                    <a routerLink="/{{userLogin.usuario_id}}/biografia"
                        class="dp-profile-name">{{userLogin.usuario_nombres}}</a>
                    <label class="custom-file-upload perfil-change">
                        <input type="file" (change)="onFileChange($event)" />
                        <i class="fas fa-camera"></i>
                        <span class="tooltiptext">Actualizar foto</span>
                    </label>
                </div>
                <div class="f-buttons">
                    <button class="btn btn-light btn-sm">
                        Actualizar información
                    </button>
                    <br>
                    <button class="btn btn-light btn-sm" style="margin-left: -8px; margin-top: 5px;">
                        <i class="fas fa-list"></i> Registro de actividad
                    </button>
                    <!--<button class="btn btn-light btn-sm">
                        <i class="fas fa-check"></i> Amigos
                    </button>
                    <button class="btn btn-light btn-sm">
                        <i class="fas fa-check"></i> Siguiendo
                    </button>
                    <button class="btn btn-light btn-sm">
                        <i class="fab fa-facebook-messenger"></i> Enviar mensaje
                    </button>-->
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #portadaDefault>
        <div class="jumbotron">
            <img src="../../../assets/img/portada_default.jpg" class="jb-img">
            <div class="container-fluid">
                <div class="dp">
                    <ng-container *ngIf="userLogin.image_perfil; else fotoDefault">
                        <img [src]=getSantizeUrl(userLogin.image_perfil) class="dp-img">
                    </ng-container>
                    <ng-template #fotoDefault>
                        <ng-container *ngIf="userLogin.usuario_sexo == 'Hombre'; else fotoDefaultSexo">
                            <img src="../assets/img/user_pred.jfif" class="dp-img">
                        </ng-container>
                        <ng-template #fotoDefaultSexo>
                            <img src="../assets/img/user_pred_mujer.jpg" class="dp-img">
                        </ng-template>
                    </ng-template>
                    <label class="custom-file-upload portada-change">
                        <input type="file" (change)="onPortadaChange($event)" />
                        <i class="fas fa-camera" style="color: #B4BDBA;"></i>
                        <span class="tooltiptextPortada">Actualizar Portada</span>
                    </label>
                    <a routerLink="/{{userLogin.usuario_id}}/biografia"
                        class="dp-profile-name">{{userLogin.usuario_nombres}}
                    </a>
                    <label class="custom-file-upload perfil-change">
                        <input type="file" (change)="onFileChange($event)" />
                        <i class="fas fa-camera"></i>
                        <span class="tooltiptext">Actualizar foto</span>
                    </label>
                </div>
                <div class="f-buttons pull-right">
                    <button class="btn btn-light btn-sm">
                        Actualizar información
                    </button>
                    <button class="btn btn-light btn-sm" style="margin-left: 10px;">
                        <i class="fas fa-list"></i> Registro de actividad
                    </button>
                    <!--<button class="btn btn-light btn-sm">
                        <i class="fas fa-check"></i> Amigos
                    </button>
                    <button class="btn btn-light btn-sm">
                        <i class="fas fa-check"></i> Siguiendo
                    </button>
                    <button class="btn btn-light btn-sm">
                        <i class="fab fa-facebook-messenger"></i> Enviar mensaje
                    </button>-->
                </div>
            </div>
        </div> <!-- FINAL JUMBOTRON -->
    </ng-template>

    <div class="timeline-nav">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" role="tab" data-toggle="tab" href="#biografia" id="nvbio">Biografía</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" role="tab" data-toggle="tab" href="#informacion">Información</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" role="tab" data-toggle="tab" href="#amigos" id="nvamigos">Amigos
                    <span class="label label-primary">26K</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" role="tab" data-toggle="tab" href="#fotos">Fotos</a>
            </li>
            <!--<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">Más</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>-->
        </ul>
    </div> <!-- FINALIZA EL TIMELINE -->

    <!-- CONTENEDORES DEL TIMELINE -->
    <div class="tab-content">
        <!-- BIOGRAFIA -->
        <div role="tabpanel" class="tab-pane active" id="biografia" style="margin-top: 10px;">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-12 col-sm-12">
                    <div class="container-fluid">
                        <div class="col-md-10 col sm-10">
                            <div class="card border-secondary">
                                <div class="card-header">
                                    <i class="fas fa-globe-americas"></i> Detalles
                                </div>
                                <div class="card-body text-secondary">
                                    <ng-container *ngIf="userLogin.perfil_informacion != ''; else editarDescripcion">
                                        <p class="card-text">{{userLogin.perfil_informacion}}</p>
                                        <button class="btn btn-block btn-outline-secondary">Editar
                                            descripción</button>
                                    </ng-container>
                                    <ng-template #editarDescripcion>
                                        <button class="btn btn-block btn-outline-secondary">Agregar descripción</button>
                                    </ng-template>
                                    <div class="dropdown-divider"></div>
                                    <i class="fas fa-home" style="margin-right: 3px;"></i> Vive en
                                    <br>
                                    <ng-container *ngIf="seguidores.length > 0; else seguidoresCero">
                                        <i class="fas fa-user-check" style="margin-right: 3px;"></i>
                                        <a href="#amigos" role="tab" data-toggle="tab" id="enlamigos">
                                            {{seguidores.length}} seguidores</a>
                                    </ng-container>
                                    <ng-template #seguidoresCero>
                                        <i class="fas fa-user-check" style="margin-right: 3px;"></i>
                                        <a href="#amigos" role="tab" data-toggle="tab" id="enlamigos">
                                            0 seguidores</a>
                                    </ng-template>
                                    <br>
                                    <ng-container *ngIf="userLogin.usuario_sexo == 'Hombre'; else sexoFemenino">
                                        <i class="fas fa-male" style="margin-right: 15px;"></i> Hombre
                                    </ng-container>
                                    <ng-template #sexoFemenino>
                                        <i class="fas fa-female" style="margin-right: 15px;"></i> Mujer
                                    </ng-template>
                                    <button class="btn btn-block btn-outline-secondary" style="margin-top: 10px;">Editar
                                        detalles</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid">
                        <div class="col-md-10 col sm-10">
                            <div class="card border-secondary">
                                <div class="card-header">
                                    <i class="fas fa-images"></i> Fotos
                                </div>
                                <div class="card-body text-secondary">
                                    <!--<img src="..." class="img-thumbnail">-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class=" col-md-10 col sm-10">
                            <div class="card border-secondary">
                                <div class="card-header">
                                    <i class="fas fa-users"></i> Amigos
                                </div>
                                <div class="card-body text-secondary">
                                    <div class="row row-cols-3 row-cols-md-4 row-cols-lg-2 row-cols-xl-3"
                                        style="margin-right: 0; margin-left: 0;">
                                        <div class="card">
                                            <a href="" class="card-text friend-card-text">
                                                <!--<img src="..." class="card-img-top">
                                                Username-->
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- POST -->
                <!--<div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                    <div class="container-fluid">
                        <div class="col-md-10 col sm-10">
                            <div class="post">
                                <div class="media media-name">
                                    <ng-container *ngIf="userLogin.image_portada; else postFotoPerfil">
                                        <a href="">
                                            <img [src]=getSantizeUrl(userLogin.image_rec_facial) class="media-object">
                                        </a>
                                    </ng-container>
                                    <ng-template #postFotoPerfil>
                                        <a href="">
                                            <img src="../assets/img/user_pred.jfif" class="media-object">
                                        </a>
                                    </ng-template>
                                    <div class="media-body">

                                        <div class="dropdown" style="position: absolute; right: 2em;">
                                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">Editar publicación</a>
                                                <a class="dropdown-item" href="#">Eliminar publicación</a>
                                            </div>
                                        </div>

                                        <h5 class="media-heading" style="margin-bottom: 0;">
                                            <a routerLink="/{{userLogin.usuario_id}}/biografia" class="colorbase"
                                                style="font-size: 19px;">{{userLogin.usuario_nombres}}
                                                {{userLogin.usuario_apellidos}}</a>
                                        </h5>
                                        <p>
                                            <a href="" style="font-size: 14px; color: #555;">
                                                <i class="fas fa-globe-americas"></i> 12 horas atras
                                            </a>
                                        </p>
                                    </div>
                                </div>

                                <div class="post-content">
                                    <p>
                                        Descripcion
                                    </p>
                                    <img src="...">

                                    <div class="card card-body bg-light fc-react">
                                        <div class="fc-engage" style="padding: 5px;">
                                            <div class="container">
                                                <i class="far fa-thumbs-up f-tu"></i><a href=""> #</a> de reacciones
                                            </div>

                                            <div class="btn-toolbar" role="toolbar" aria-label="face-reacts">
                                                <div class="btn-group" role="group" aria-label="...">
                                                    <button type="button" class="btn btn-light"
                                                        style="background: #eee;">
                                                        <i class="far fa-thumbs-up"></i> Like
                                                    </button>
                                                    <button type="button" class="btn btn-light"
                                                        style="background: #eee;">
                                                        <i class="far fa-comment-alt"></i> Comentar
                                                    </button>
                                                    <button type="button" class="btn btn-light"
                                                        style="background: #eee;">
                                                        <i class="far fa-share-square"></i> Compartir
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="media media-comment">
                                                <div class="media-left">
                                                    <ng-container
                                                        *ngIf="userLogin.image_portada; else commentFotoPerfilDefault">
                                                        <a routerLink="/{{userLogin.usuario_id}}/biografia">
                                                            <img [src]=getSantizeUrl(userLogin.image_rec_facial)
                                                                class="comment-foto"">
                                                        </a>
                                                    </ng-container>
                                                    <ng-template #commentFotoPerfilDefault>
                                                        <a routerLink=" /{{userLogin.usuario_id}}/biografia">
                                                            <img src="../assets/img/user_pred.jfif"
                                                                class="comment-foto">
                                                        </a>
                                                        </ng-template>
                                                </div>
                                                <div class="media-body">
                                                    <textarea autosize placeholder="Escribe un comentario"></textarea>
                                                    <a href="" style="color: grey;" class="textarea-camera"><i
                                                            class="fas fa-camera"></i></a>
                                                </div>
                                            </div>
                                        </div>  ENGAGE 
                                    </div> COMENTARIOS, LIKES Y COMPARTIR 
                                </div> POST CONTENT 
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>

        <!-- INFORMACION -->
        <div role="tabpanel" class="tab-pane" id="informacion">
            <div class="row">
                <div class="col-lg-1 col-md-12 col-12 col-sm-12"> </div>

                <div class="col-lg-10 col-md-12 col-12 col-sm-12">
                    <div class="container-fluid">
                        <div class="card border-secondary">
                            <div class="card-header">
                                <i class="fas fa-user"></i> Información
                            </div>
                            <div class="card-body text-secondary">
                                <div class="row">

                                    <!-- BARRA DE NAVEGACION DE INFORMACION -->
                                    <div class="col-4">
                                        <ul class="nav flex-column nav-pills" aria-orientation="vertical">
                                            <li class="nav-item">
                                                <a class="nav-link" role="tab" data-toggle="tab"
                                                    href="#formacion">Formación y empleo
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" role="tab" data-toggle="tab"
                                                    href="#infobasica">Información básica y de contacto</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" role="tab" data-toggle="tab" href="#familia">
                                                    Familia y relaciones
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" role="tab" data-toggle="tab" href="#sobreti">
                                                    Información sobre ti
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <!-- CONTENIDOS DE TABS DE INFORMACION -->
                                    <div class="col-8">
                                        <div class="tab-content">

                                            <div role="tabpanel" class="tab-pane" id="formacion">
                                                <div class="container-fluid" style="padding: 0em 1em !important;">
                                                    <div
                                                        class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-3">
                                                        2
                                                    </div>
                                                </div>
                                            </div>

                                            <div role="tabpanel" class="tab-pane" id="infobasica">
                                                <div class="container-fluid" style="padding: 0em 1em !important;">
                                                    <div
                                                        class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-3">
                                                        3
                                                    </div>
                                                </div>
                                            </div>

                                            <div role="tabpanel" class="tab-pane" id="familia">
                                                <div class="container-fluid" style="padding: 0em 1em !important;">
                                                    <div
                                                        class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-3">
                                                        4
                                                    </div>
                                                </div>
                                            </div>

                                            <div role="tabpanel" class="tab-pane" id="sobreti">
                                                <div class="container-fluid" style="padding: 0em 1em !important;">
                                                    <div
                                                        class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-3">
                                                        5
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-1 col-md-12 col-12 col-sm-12"> </div>
            </div>
        </div>

        <!-- AMIGOS -->
        <div role="tabpanel" class="tab-pane" id="amigos" style="margin-top: 45px;">
            <div class="row">
                <div class="col-lg-1 col-md-12 col-12 col-sm-12"> </div>

                <div class="col-lg-10 col-md-12 col-12 col-sm-12">
                    <div class="container-fluid">
                        <div class="card border-secondary">
                            <div class="card-header">
                                <i class="fas fa-users"></i> Amigos
                                <input type="text" name="" class="float-right"
                                    style="margin-left: 5px; padding-left: 5px;" placeholder="Buscar...">
                                <button class="btn btn-sm btn-outline-secondary float-right">Solicitudes de
                                    amistad</button>
                                <ul class="nav nav-pills" style="margin-top: 10px; margin-bottom: -13px;">
                                    <li class="nav-item">
                                        <a class="nav-link active" role="tab" data-toggle="tab" href="#allamigos"
                                            id="nvallamigos">Amigos</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" role="tab" data-toggle="tab" href="#seguidores"
                                            id="nvseguidores">Seguidores</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" role="tab" data-toggle="tab" href="#seguidos">Seguidos</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body text-secondary">

                                <div class="tab-content">
                                    <!-- TABS DE AMIGOS -->
                                    <div role="tabpanel" class="tab-pane active" id="allamigos">
                                        <div class="container-fluid" style="padding: 0em 1em !important;">
                                            <div
                                                class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-3">
                                                <!--<div class="tarjeta-amigos">
                                                    <img [src]=getSantizeUrl(userLogin.image_rec_facial)>
                                                    <a href="">Juan Bryan</a>
                                                    <div class="dropdown">
                                                        <button class="btn btn-outline-secondary dropdown-toggle"
                                                            type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-check"></i> Amigos
                                                        </button>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                            <a class="dropdown-item" href="#">Eliminar amigo</a>
                                                        </div>
                                                    </div>
                                                </div>-->
                                            </div>
                                        </div>
                                    </div>

                                    <div role="tabpanel" class="tab-pane" id="seguidores">
                                        <div class="container-fluid" style="padding: 0em 1em !important;">
                                            <div
                                                class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-3">
                                                <div *ngFor="let seg of seguidores" class="tarjeta-seguidores">
                                                    <ng-container *ngIf="seg.image_perfil; else fotoSeguidorDefault">
                                                        <img [src]=getSantizeUrl(seg.image_perfil)>
                                                    </ng-container>
                                                    <ng-template #fotoSeguidorDefault>
                                                        <ng-container
                                                            *ngIf="seg.usuario_sexo == 'Hombre'; else fotoDefaultSexo">
                                                            <img src="../assets/img/user_pred.jfif">
                                                        </ng-container>
                                                        <ng-template #fotoDefaultSexo>
                                                            <img src="../assets/img/user_pred_mujer.jpg">
                                                        </ng-template>
                                                    </ng-template>
                                                    <a href="">{{seg.usuario_nombres}} {{seg.usuario_apellidos}}</a>
                                                    <!--<button class="btn btn-outline-secondary">
                                                        <i class="fas fa-check"></i> Seguir
                                                    </button>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div role="tabpanel" class="tab-pane" id="seguidos">
                                        <div class="row">
                                            seguidos
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-1 col-md-12 col-12 col-sm-12"> </div>
            </div>
        </div>

        <!-- FOTOS -->
        <div role="tabpanel" class="tab-pane" id="fotos">
            <div class="row">
                fotos
            </div>
        </div>
    </div>
</div>