<app-navbar></app-navbar>
<div style="margin-top: 44px;">
    <ng-container *ngIf="perfil_amigo.image_portada; else portadaDefault">
        <div class="jumbotron">
            <img [src]=getSantizeUrl(perfil_amigo.image_portada) class="jb-img">
            <div class="container-fluid">
                <div class="dp">
                    <ng-container *ngIf="perfil_amigo.image_perfil; else fotoDefault">
                        <img [src]=getSantizeUrl(perfil_amigo.image_perfil) class="dp-img">
                    </ng-container>
                    <ng-template #fotoDefault>
                        <ng-container *ngIf="perfil_amigo.usuario_sexo == 'Hombre'; else fotoDefaultSexo">
                            <img src="../assets/img/user_pred.jfif" class="dp-img">
                        </ng-container>
                        <ng-template #fotoDefaultSexo>
                            <img src="../assets/img/user_pred_mujer.jpg" class="dp-img">
                        </ng-template>
                    </ng-template>
                    <a routerLink="/{{authService.getId()}}/biografia/{{perfil_amigo.usuario_id}}"
                        class="dp-profile-name">{{perfil_amigo.usuario_nombres}}</a>
                </div>
                <div class="f-buttons btn-group">
                    <!--<button class="btn btn-light btn-sm">
                        <i class="fas fa-check"></i> Amigos
                    </button>-->
                    <div class="dropdown">
                        <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            style="border-radius: 0%;">
                            <i class="fas fa-check"></i> Amigos
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="font-size: 14px;">
                            <a class="dropdown-item" href="#">Eliminar</a>
                        </div>
                    </div>
                    <!--<button class="btn btn-light btn-sm" style="margin-left: 5px; border-radius: 0%;">
                        <i class="fas fa-check"></i> Siguiendo
                    </button>-->
                    <div class="dropdown" style="border-right: 1.5px solid #888;">
                        <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            style="border-radius: 0%; margin-left: 5px;">
                            <i class="fas fa-check"></i> Siguiendo
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton"
                            style="font-size: 14px;">
                            <a class="dropdown-item" href="#">Eliminar</a>
                        </div>
                    </div>
                    <button class="btn btn-light btn-sm" style="border-radius: 0%; border-right: 1px solid #888;">
                        <i class="fab fa-facebook-messenger"></i> Mensaje
                    </button>
                    <div class="dropdown">
                        <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            style="border-radius: 0%;">
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton"
                            style="font-size: 14px;">
                            <a class="dropdown-item" href="#">Bloquear</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #portadaDefault>
        <div class="jumbotron">
            <img src="../../../assets/img/portada_default.jpg" class="jb-img">
            <div class="container-fluid">
                <div class="dp">
                    <ng-container *ngIf="perfil_amigo.image_perfil; else fotoDefault">
                        <img [src]=getSantizeUrl(perfil_amigo.image_perfil) class="dp-img">
                    </ng-container>
                    <ng-template #fotoDefault>
                        <ng-container *ngIf="perfil_amigo.usuario_sexo == 'Hombre'; else fotoDefaultSexo">
                            <img src="../assets/img/user_pred.jfif" class="dp-img">
                        </ng-container>
                        <ng-template #fotoDefaultSexo>
                            <img src="../assets/img/user_pred_mujer.jpg" class="dp-img">
                        </ng-template>
                    </ng-template>
                    <a routerLink="/{{authService.getId()}}/biografia/{{perfil_amigo.usuario_id}"
                        class="dp-profile-name">{{perfil_amigo.usuario_nombres}}
                    </a>
                </div>
                <div class=" f-buttons pull-right">
                        <button class="btn btn-light btn-sm">
                            <i class="fas fa-check"></i> Amigos
                        </button>
                        <button class="btn btn-light btn-sm">
                            <i class="fas fa-check"></i> Siguiendo
                        </button>
                        <button class="btn btn-light btn-sm">
                            <i class="fab fa-facebook-messenger"></i> Enviar mensaje
                        </button>
                </div>
            </div>
        </div>
        <!--FINAL JUMBOTRON -->
    </ng-template>
</div>